@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

@font-face {
    font-family: "Gilroy-Bold";
    src: url(fonts/Gilroy-Bold.ttf);
}

body {
    margin: 0px 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Lato', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
}

h1 {
    font-family: "Gilroy-Bold";
    font-size: 65pt;
    font-weight: normal;
    align-items: center;
    display: flex;
}

h2,
h3 {
    font-family: "Raleway";
    font-weight: bold;
}

#logo {
    height: 140px;
    position: fixed;
    right: 50px;
    top: 0;
}

#dates>div {
    padding: 4px;
    background-color: lightgray;
    display: inline-block;
    font-size: 14pt;
}

#dates>div>span:first-child {
    transform: rotate(-90deg);
    display: inline-block
}

td,
th {
    padding: 0 0.8em 0.2em 0;
    font-size: 1.5em;
}

td>a {
    background-color: rgb(69, 69, 69);
    padding: 0.4em;
    text-decoration: none;
    color: white;
}

td:first-child {
    font-weight: bold;
    background-color: white;
}

.time {
    display: flex;
    justify-content: space-between;
    background-color: rgb(230, 230, 230);
    padding: 0.5em;
    margin-bottom: 6px;
    cursor: pointer;
}

.time>div:first-child {
    flex: 1;
    max-width: 700px;
}

.time>div:not(:first-child) {
    justify-content: center;
    display: flex;
    margin-left: 0.6em;
}

.time>div>span>span {
    font-size: 0.7em;
    font-style: italic;
}

div>a {
    background-color: rgb(230, 230, 230);
    padding: 0.1em 0.3em;
    font-size: 0.7em;
    margin: 2px;
    cursor: pointer;
    font-family: "Gilroy-Bold"
}

/*
.time>div>a {
    font-family: "Gilroy-Bold";
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
}

a.buy {
    background-color: rgb(51, 153, 255);
    color: white;
}

a.timetable {
    color: white;
} */

.arrow {
    font-family: "Wingdings 3";
}

.page {
    /* min-height: 100vh; */
    padding-top: 0.1em;
}

/* .page:first-child {
    min-height: calc(100vh - 140px);
} */

#turretur {
    display: flex;
}

#turretur>div {
    background-color: rgb(230, 230, 230);
    min-width: 120px;
    padding: 0.8em;
    cursor: pointer;
    font-family: "Gilroy-Bold";
}

#turretur>div>span {
    text-align: right;
    font-size: 0.6em;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Lato', 'Trebuchet MS', sans-serif;
}

#travellers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#travellers>span {
    background-color: rgb(230, 230, 230);
    padding: 0.3em 0.8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 250px;
    margin-bottom: 0.3em;
}

/*#travellers > span:not(:first-child):not(:last-child) {
    margin: 0 1em;
}*/

#travellers>span>input {
    font-size: 1em;
    padding: 0.08em;
    margin-left: 1em;
    width: 1.5em;
    text-align: center;
    font-family: inherit;
}

#travellers>span>span>.meta {
    display: inline-block;
    font-size: 0.6em;
    font-style: italic;
}

.section {
    margin-bottom: 0.8em;
}

#summary>div>div {
    display: flex;
    justify-content: space-between;
    max-width: 700px;
}

#summary>div:last-child>div>span {
    font-weight: bold;
}

#summary>div:not(:last-child) {
    border-bottom: 1px solid rgb(51, 153, 255);
}

.proceed {
    background-color: rgb(51, 153, 255);
}

.timetable {
    background-color: rgb(255, 169, 26);
}

button {
    padding: 0.1em 0.3em;
    border: none;
    font-size: 0.7em;
    color: white;
    font-family: "Gilroy-Bold";
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

button:not(:first-of-type) {
    margin-left: 12px
}

.italic {
    font-size: 0.75em;
    font-style: italic;
}

.active {
    background-color: rgb(69, 69, 69) !important;
    color: white;
}

.type>span {
    min-width: 3em;
}

.info {
    /* contact information */
    background-color: rgb(230, 230, 230);
    padding: 0.3em 0.8em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.info>div>input {
    font-size: 1em;
    font-family: "Gill Sans MT";
    padding: 0.1em 0.3em;
    margin-left: 1em;
    flex: 1;
}

.info>div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    align-items: center;
    flex-wrap: wrap;
}

.info>div>span {
    width: 9.375em;
}

.info>div:not(:last-child) {
    margin-bottom: 0.2em;
}

.disabled {
    display: none;
}